body {
  background-color: #f4eeff;
  font-family: "Roboto", sans-serif;
}
.weather-app {
  background-color: #3a4042;
  max-width: 650px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 20px;
  padding: 30px;
}
a {
  color: #212121;
  font-weight: 900;
}

header {
  border-bottom: #f4eeff;
  padding: 0 0 30px 0;
}
.search-form-input {
  background-color: #f4eeff;
  border: none;
  border-radius: 5px;
  width: 80%;
  font-size: 16px;
  padding: 18px 22px;
  color: #212121;
}

.search-form-button {
  background-color: #212121;
  border: none;
  padding: 18px 22px;
  color: #50717b;
  font-size: 16px;
  margin: 5px;
  border-radius: 5px;
}
main {
  padding: 30px 0;
}
.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}
footer {
  border-top: 1px solid #f4eeff;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 18px;
  color: 212121;
  font-weight: 300;
}
